<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>IG New Version</title>
        <link href="templates/assets/css/user.index.css" rel="stylesheet">
        <link href="templates/assets/css/all.min.css"     rel="stylesheet">
        <link href="templates/assets/css/explore.css"     rel="stylesheet">
    </head>

    <body>
<!-- 
        <nav class="nav" > 
       
            <div class="logo" >
               <a href="#"><img src="assets/images/logo.png" > </a>
            </div>
   
            <div class="search"  >
                <form method="get" action="#">
                    <input type="text" placeholder="Search">
                    <button type="submit"> <i class="fas fa-search text-14"></i></button>
                </form>
                
            </div>
            
            <div class="icons">
                
               <a href="#"><i class="fas fa-home"></i></a>
               <a href="#"><i class="far fa-paper-plane"></i></a>
               <a href="#"><i class="far fa-compass"></i></a>
               <a href="#"><i class="far fa-heart"></i></a>
               <a href="#"><img src="uploads/amr1.jpg"></a>
           
            </div>
            
            
        </nav> -->
<!-- 
            <div class="explore-posts-container">

                <div class="explore-post">
                    <div class="explore-transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                <div class="explore-post">
                    <div class="explore-transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
             
                -->
                
            </div> 
        
    </body>

    </html>