<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta</title>
    <link href="assets/css/followmodal.css"       rel="stylesheet">
    <link href="assets/css/all.min.css"     rel="stylesheet">
</head>

<body> -->


        <!-- <span><a href="#followerModal_ID">Followers</a></span> -->

         <!-- <div id="followerModal_ID" class="followerModalClass"> 

            <div class="follower_container">
                <a href="#close" title="Close" class="close">X</a>
                
        
                <div class="sec_container">
        
                        <div class="header">
                                                            
                                    <div class="name_comment">
                                        <h2 class="name_comment">Followers</h2>   
                                    </div>                  
                        </div>
            
                        <div class="followers_section">
            
                                <div  class="follow_row">  
                                    
                                    <div class="follow_avatar">
                                        <img src="uploads/amr1.jpg"> 
                                        <div class="name_comment">
                                            <a href="#" class="name_comment">amr_9k8</a>  
                                            <span>amrkhaled9k8@gmail.com </span>  
                                        </div>   
                                                    
                                    </div>
                                        <div class="follow_link">
                                            <button><a href="#">Following</a></button>
                                        </div>
                                </div> 
                                
                            

                            </div>

                    </div>
                
        
        
                </div>
             
            </div> -->
            


            <!-- <span><a href="#followingModal_ID">Following</a></span> -->
<!-- 
            <div id="followingModal_ID" class="followerModalClass"> 
   
               <div class="follower_container">
                   <a href="#close" title="Close" class="close">X</a>
                   
           
                   <div class="sec_container">
           
                           <div class="header">
                                                               
                                       <div class="name_comment">
                                           <h2 class="name_comment">Following</h2>   
                                       </div>                  
                           </div>
               
                           <div class="followers_section">
                                    <div  class="follow_row">  
                                       
                                       <div class="follow_avatar">
                                           <img src="uploads/amr1.jpg"> 
                                           <div class="name_comment">
                                               <a href="#" class="name_comment">amr_9k8</a>  
                                               <span>amrkhaled9k8@gmail.com </span>  
                                           </div>   
                                                       
                                       </div>
                                           <div class="follow_link">
                                               <button><a href="#">Following</a></button>
                                           </div>
                                   </div> 
                                   
                               
   
                               </div>
   
                       </div>
                   
           
           
                   </div>
                
               </div> -->
               
    

</body>
</html> 