<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta</title>
    <link href="templates/assets/css/postModal.css"       rel="stylesheet">
    <!-- <link href="assets/css/user.index.css"       rel="stylesheet"> -->
    <link href="templates/assets/css/all.min.css"     rel="stylesheet">
</head>

<body>


    <div class="view-comment">
                        
        <span><a href="#postModal_ID">View all 15 comment </a></span>

         <div id="postModal_ID" class="postModalClass"> 

            <div class="post_modal">
                <a href="#close" title="Close" class="close">X</a>
                
        
                <div class="img_part">
                        <img src="uploads/amr2.jpg">    
                </div>
        
                <div class="comment_part">
        
                    <div class="profile_section ">
                        
                                <img src="uploads/amr1.jpg"> 
                                <div class="name_comment">
                                    <a href="#" class="name_comment">amr_9k8</a>   
                                </div>                  
                    </div>
        
                    <div class="comment_section ">
        
                    
                            <div  class="comment_row">  
                                
                                <div class="profile_section_comment ">
                                    <img src="uploads/amr1.jpg"> 
                                    <div class="name_comment">
                                        <a href="#" class="name_comment">amr_9k8</a>  
                                        <span>A5oyaaaaa ❤️❤️ </span> 
                                    </div>                 
                                </div>
                                
                            </div> 

                            <div  class="comment_row">  
                                
                                <div class="profile_section_comment ">
                                    <img src="uploads/amr1.jpg"> 
                                    <div class="name_comment">
                                        <a href="#" class="name_comment">amr_9k8</a>  
                                        <span>A5oyaaaaa ❤️❤️ </span> 
                                    </div>                 
                                </div>
                                
                            </div> 


                         
                             
        
                 
                    </div>
        
                    <div class="icons_section">
                        
                            <div>
                                <a href="#"><i class="far fa-heart"></i></a>
                                <a href="#"><i class="far fa-comment"></i></a>
                                <a href="#"><i class="far fa-paper-plane"></i></a>
                             </div>
                             <div class="bookmark_icon">
                                <a href="#"><i class="far fa-bookmark"></i></a>     
                             </div>
                        
                    </div>
        
        
                    <div class="add_comment_section">
                            <div class="commentbox_modal">
                                <textarea placeholder="Add a comment..."></textarea>
                            </div>
                            <div class="commentbutton_modal">
                                <button type="submit">Post</button>
                            </div>
                    </div>
        
                </div>
             
            </div>
            
        </div> 
    </div>

</body>
</html>