<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>instagram</title>
        <link href="templates/assets/css/myprofile.css" rel="stylesheet">
        <link href="templates/assets/css/user.index.css" rel="stylesheet">
        <link href="templates/assets/css/all.min.css"     rel="stylesheet">
        
    </head>

    <body> -->
     
   
        <!-- whole page container and each section will have its container -->
        <!-- <section class="myprofile-container">  -->

            <!--  FIRST CONTAINER FOR ( name + photo + followers + caption )-->
            <!-- <div class="myprofile-data-container">
                    <div class="myprofile-avatar">
                        <img src="uploads/<?php echo $avatar; ?>">
                    </div>
                    <div class="myprofile-info">
                            <div class="myprofile-name-btn">
                                <h3><?php echo $username; ?></h3>
                                <button> Edit Profile</button>
                            </div>
                            <div class="myprofile-following">
                                <a><?php echo $countposts; ?></a>  <span>post</span>
                                <a href="#">233</a><span>followers</span>
                                <a href="#">420</a><span>following </span>
                            </div>
                            <div class="myprofile-caption">
                                <a></a>
                            </div>
                    </div>
                </div> -->

            <!--    SECOND CONTAINER FOR  ( posts + IGTV + SAVED + TAGGED )-->
            <!-- <div class="myprofile-items-container">

                <div class="post-icon" >
                
                    <a href="#"> <i class="fas fa-th"></i>POSTS</a>
                </div>
                <div class="IGTV-icon" >
                    <span></span>
                    <a>IGTV</a>
                </div>
                <div class="saved-icon" >
                    <span></span>
                    <a>SAVED</a>
                </div>
                <div class="tag-icon" >
                    <span></span>
                    <a>TAGGED</a>
                </div>
            </div> -->

              <!--    THIRD CONTAINER FOR  ( ALL POSTS)-->
              <!-- <div class="myprofile-posts-container"> -->
                <!-- <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div> -->

            <!-- </div> -->
<!-- 
        </section>

    </body>

</html> -->
