
<!--     
     <!DOCTYPE html>
     <html lang="en">
         <head>
             <meta charset="UTF-8">
     
             <title>New IG Version</title>
             <link href="templates/assets/css/myprofile.css" rel="stylesheet">
             <link href="templates/assets/css/user.index.css" rel="stylesheet">
             <link href="templates/assets/css/all.min.css"     rel="stylesheet">
         </head>
     
         <body> -->
     <nav class="nav" > 
       
         <div class="logo" >
            <a href="index.php"><img src="templates/assets/images/logo.png" > </a>
         </div>

         <div class="search"  >
             <form method="get" action="#" autocomplete="off">
                 <input name="q" id ='real_time_search'type="text" placeholder="Search">
                <button><i id="close_search" class="far fa-times-circle"></i></button> 
             </form>
             <div class="search_drop">
                <!-- <div class = srch_drp_row>
                    <div class="srch_avatar">
                        <img src="uploads/amr1.jpg"> 
                    </div>
                    <div class="srch_name">
                        <a href="#" class="name_comment">amr_9k8</a>  
                        <span>amrkhaled9k8@gmail.com </span>  
                    </div>             
                    </div> -->
                </div>
         </div>
         
         <div class="icons">
            <a href="add_post.php"><i class="fas fa-plus"></i></i></a>
            <a href="index.php"><i class="fas fa-home"></i></a>
            <a href="#"><i class="far fa-paper-plane"></i></a>
            <a href="explore.php"><i class="far fa-compass"></i></a>
            <a href="#"><i class="far fa-heart"></i></a>
            <div class="nav_avatar">
             <a href="myprofile.php"><?php echo $profile_icon; ?></a>
            </div>
          
         </div>
              
     </nav>