
<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>instagram</title>
        <link href="assets/css/other-profile.css" rel="stylesheet">
        <link href="assets/css/user.index.css" rel="stylesheet">
        <link href="assets/css/all.min.css"     rel="stylesheet">
    </head>

    <body> -->
     
        <!-- <nav class="nav" > 
       
            <div class="logo" >
               <a href="#"><img src="assets/images/logo.png" > </a>
            </div>
   
            <div class="search"  >
                <form method="get" action="#">
                    <input type="text" placeholder="Search">
                    <button type="submit"> <i class="fas fa-search text-14"></i></button>
                </form>
                
            </div>
            
            <div class="icons">
                
               <a href="#"><i class="fas fa-home"></i></a>
               <a href="#"><i class="far fa-paper-plane"></i></a>
               <a href="#"><i class="far fa-compass"></i></a>
               <a href="#"><i class="far fa-heart"></i></a>
               <a href="#"><img src="uploads/amr1.jpg"></a>
           
            </div>
            
            
        </nav> -->
    
      
        <!-- <section class="myprofile-container">  -->
           
            <!-- <div class="myprofile-data-container">
                    <div class="myprofile-avatar">
                        <img src="uploads/amr1.jpg">
                    </div>
                    <div class="myprofile-info">
                            <div class="myprofile-name-btn">
                                <h3>amr_9k8</h3>
                                <button> Follow</button>
                            </div>
                            <div class="myprofile-following">
                                <a>4</a>  <span>post</span>
                                <a href="#">233</a><span>followers</span>
                                <a href="#">420</a><span>following </span>
                            </div>
                            <div class="myprofile-caption">
                                <a>Amr Khaled</a>
                            </div>
                    </div>
                </div> -->

            <!--    SECOND CONTAINER FOR  ( posts + IGTV + SAVED + TAGGED )-->
            <!-- <div class="myprofile-items-container">

                <div class="post-icon" >
                
                    <a href="#"> <i class="fas fa-th"></i>POSTS</a>
                </div>
              
                <div class="tag-icon" >
                    <span></span>
                    <a>TAGGED</a>
                </div>
            </div> -->

              <!--    THIRD CONTAINER FOR  ( ALL POSTS)-->
              <!-- <div class="myprofile-posts-container">
                <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                <div class="post">
                    <div class="transparent-layer">
                        <a> <i class="fas fa-heart"></i> 126 </a>
                        <a> <i class="fas fa-comment"></i> 47 </a>
                    </div>
                    <img src="uploads/amr2.jpg" >
                </div>
                
                
                


            </div> -->




        <!-- </section>

     
    

    </body>

</html> -->
