<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>IG New Version</title>
        <link href="templates/assets/css/user.index.css" rel="stylesheet">
        <link href="templates/assets/css/all.min.css"     rel="stylesheet">
        <link href="templates/assets/css/explore.css"     rel="stylesheet">
    </head>

    <body>


            
        <script src="templates/assets/js/jquery-3.5.1.min.js"></script>
        <script src="templates/assets/js/livesearch.js"></script>
    </body>

    </html>