<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>IG New Version</title>
        <link href="templates/assets/css/all.min.css"     rel="stylesheet">
        <link href="templates/assets/css/user.index.css" rel="stylesheet">
        <link href="templates/assets/css/postModal.css"     rel="stylesheet">
    </head>

    <body>
     

     <nav class="nav" > 
       
         <div class="logo" >
            <a href="#"><img src="templates/assets/images/logo.png" > </a>
         </div>

         <div class="search"  >
             <form method="get" action="#">
                 <input type="text" placeholder="Search">
                 <button type="submit"> <i class="fas fa-search text-14"></i></button>
             </form>
             
         </div>
         
         <div class="icons">
             
            <a href="#"><i class="fas fa-home"></i></a>
            <a href="#"><i class="far fa-paper-plane"></i></a>
            <a href="#"><i class="far fa-compass"></i></a>
            <a href="#"><i class="far fa-heart"></i></a>
            <a href="#"></a>
        
         </div>
         
         
     </nav>

     <aside class="side">

        <div class="side-container">
            
        <div class="first-side-content">

       

                <ul>
                    <li><a href="#">amr_9k8</a></li>
                    <li>Amr Khaled</li>
                </ul>
                <div class="switch"><a href="#">Switch</a></div>
        </div>


            <div class="Suggestions-For-You">
                
                <span>Suggestions For You</span>
                <a href="#">See All </a>
            </div>

            <div class="other-side-content">
                    <img src="uploads/amr1.jpg">

                    <ul>
                        <li><a href="#">amr_9k8</a></li>
                        <li>Amr Khaled</li>
                    </ul>
                    <div class="Follow"><a href="#">Follow</a></div>
            </div>

            <div class="other-side-content">
                    <img src="uploads/amr1.jpg">

                    <ul>
                        <li><a href="#">amr_9k8</a></li>
                        <li>Amr Khaled</li>
                    </ul>
                    <div class="Follow"><a href="#">Follow</a></div>
            </div>

            <div class="other-side-content">
                    <img src="uploads/amr1.jpg">

                    <ul>
                        <li><a href="#">amr_9k8</a></li>
                        <li>Amr Khaled</li>
                    </ul>
                    <div class="Follow"><a href="#">Follow</a></div>    
            </div>

            <div class="other-side-content">
                    <img src="uploads/amr1.jpg">

                    <ul>
                        <li><a href="#">amr_9k8</a></li>
                        <li>Amr Khaled</li>
                    </ul>
                    <div class="Follow"><a href="#">Follow</a></div>
            </div>

            <div class="other-side-content">
                    <img src="uploads/amr1.jpg">

                    <ul>
                        <li><a href="#">amr_9k8</a></li>
                        <li>Amr Khaled</li>
                    </ul>
                    <div class="Follow"><a href="#">Follow</a></div>
            </div>

            <div class="side-footer">
               <span> 
                <a href="#">About</a>.<a  href="#">Help</a>.<a  href="#">Press</a>.<a  href="#">API</a>.
                <a  href="#">Jobs</a>.<a  href="#">Privacy</a>.<a  href="#">Terms</a><br>
                <a  href="#">Location</a>.<a  href="#">Top Accounts</a>.<a  href="#">Hashtag</a>.
                <a  href="#">Language</a>.<br><br>
                <a>&copy;2020 Instagram From Facebook</a>
               </span>
            </div>
            
        </div>
     </aside>

     <section class="storysection">

        <div class="storycontent">

            <div class="story-active-color">
                 <img src="uploads/amr1.jpg">
            </div>
           

                <a>amr_9k8</a>
        </div>
        
        
        <div class="storycontent">

            <div class="story-active-color">
                 <img src="uploads/amr1.jpg">
            </div>
           

                <a>amr_9k8</a>
        </div>
        
       
        <div class="storycontent">

            <div class="story-active-color">
                 <img src="uploads/amr1.jpg">
            </div>
           

                <a>amr_9k8</a>
        </div>
        
      
        <div class="storycontent">

            <div class="story-active-color">
                 <img src="uploads/amr1.jpg">
            </div>
           

                <a>amr_9k8</a>
        </div>
        

        <div class="storycontent">

            <div class="story-active-color">
                 <img src="uploads/amr1.jpg">
            </div>
           

                <a>amr_9k8</a>
        </div>
        
    
        <div class="storycontent">

            <div class="story-active-color">
                 <img src="uploads/amr1.jpg">
            </div>
           

                <a>amr_9k8</a>
        </div>
        

        <div class="storycontent">

            <div class="story-active-color">
                 <img src="uploads/amr1.jpg">
            </div>
           

                <a>amr_9k8</a>
        </div>
        
     </section>
     
     
     <section class="timeline">
            <div class="post-body">
                    <div class="profile-section ">
                            <img src="uploads/amr1.jpg"> 
                             <div class="name">
                                 <a href="#" class="name">amr_9k8</a>   
                             </div>                  
                             <div class="option">
                                <a href="#" >...</a>
                             </div> 
                    </div>
                    <div class="photo-section">
                        <img src="uploads/amr2.jpg">
                    </div>
                    <div class="icons-section">
                        <div>
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="far fa-comment"></i></a>
                            <a href="#"><i class="far fa-paper-plane"></i></a>
                         </div>
                         <div class="bookmark-icon">
                            <a href="#"><i class="far fa-bookmark"></i></a>     
                         </div>
                    </div>
                    <div class="liker-names-section">
                             <div class="liker-name-photo">
                                <img src="uploads/amr1.jpg"> 
                             </div>      
                             <div class="liker-names-links">
                                <span>Liked by</span>
                                <a href="#"> amr_9k8</a> 
                                <span> and </span>  
                                <a href="#"> 123 others</a> 
                             </div>
                    </div>
                    <div class="caption-section">
                           <a href="#"> amr_9k8</a> 
                           <span>Summer Vibes 2020  Hurghada Beach 💚 </span>
                    </div>
                    <div class="view-comment">
                        
                        <span><a href="#postModal_ID" id="link">View all 15 comment </a></span>

                         <div id="postModal_ID" class="postModalClass">
        
                            <div class="post_modal">
                                <a href="#close" title="Close" class="close">X</a>
                                
                        
                                <div class="img_part">
                                        <img src="uploads/amr2.jpg">    
                                </div>
                        
                                <div class="comment_part">
                        
                                    <div class="profile_section ">
                                        
                                                <img src="uploads/amr1.jpg"> 
                                                <div class="name_comment">
                                                    <a href="#" class="name_comment">amr_9k8</a>   
                                                </div>                  
                                    </div>
                        
                                    <div class="comment_section ">
                        
                                    
                                            <div  class="comment_row">  
                                                
                                                <div class="profile_section_comment ">
                                                    <img src="uploads/amr1.jpg"> 
                                                    <div class="name_comment">
                                                        <a href="#" class="name_comment">amr_9k8</a>  
                                                        <span>A5oyaaaaa ❤️❤️ </span> 
                                                    </div>                 
                                                </div>
                                                
                                            </div> 
                                             
                        
                                 
                                    </div>
                        
                                    <div class="icons_section">
                                        
                                            <div>
                                                <a href="#"><i class="far fa-heart"></i></a>
                                                <a href="#"><i class="far fa-comment"></i></a>
                                                <a href="#"><i class="far fa-paper-plane"></i></a>
                                             </div>
                                             <div class="bookmark_icon">
                                                <a href="#"><i class="far fa-bookmark"></i></a>     
                                             </div>
                                        
                                    </div>
                        
                        
                                    <div class="add_comment_section">
                                            <div class="commentbox_modal">
                                                <textarea placeholder="Add a comment..."></textarea>
                                            </div>
                                            <div class="commentbutton_modal">
                                                <button type="submit">Post</button>
                                            </div>
                                    </div>
                        
                                </div>
                             
                            </div>
                            
                        </div> 
                    </div>
                    <div class="display-partof-comments">
                        <a href="#"> 7oda_kh.</a> 
                        <span>Niceee .. OnFiree😘😘 </span>
                   </div>
                    <div class="display-partof-comments">
                    <a href="#"> Hassan_T.Aly </a> 
                    <span>gameddd yabaa ❤️😘😘 </span>
                    </div>
                    <div class="time-section">
                        <span><a href="#">19 HOURS AGO </a></span>
                    </div>
                    <div class="add-comment-section">
                        <div class="commentbox">
                            <textarea placeholder="Add a comment..."></textarea>
                        </div>
                        <div class="commentbutton">
                            <button type="submit">Post</button>
                        </div>
                    </div>


        </div>

      
     </section>


            
        
    </body>

</html>